<div class='container-fluid'>
<h1>Artists</h1>


<% @artists.each do |artist| %>
<%= link_to artist_songs_path(artist) do %>
<div class="img-outline">
<div style="background:url(<%= artist.photo.image %>)no-repeat center center;background-size:cover;" class="round-img"><p class="artist_name"><%= artist.name %></p></div>
</div>
<% end %>
<% end %>
</div>

<%= link_to artists_created_desc_path do %>
<div class="btn btn-primary top-btn">
  Sort by Oldest
</div>
<% end %>

<%= link_to artists_az_path do %>
<div class="btn btn-primary top-right-btn">
  Sort A-Z
</div>
<% end %>
