
<div class=container-fluid>
<%= image_tag @artist.photo.image, class: "artist-img" %>

<div class="whitebox">
<h1 class="align-left"><%= @artist.name %></h1>

<p class="align-left"><%= @artist.bio %></p>

  <%= link_to artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } do %>
  <h3 class="btn btn-primary top-right-btn"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete Artist</h3>
  <% end %>

  <form onSubmit="submitSong(); return false">
    <input type="text" id="new-song" placeholder="Add a Song">
  </form>
</div>
</div>

<div class="songs whitebox">
<ul id="songlist">
<% @artist.songs.each do |song| %>
<li>
  <%= link_to artist_song_path(@artist.id ,song.id), method: :delete, data: { confirm: "Are you sure?" }, :id => "delete" do %>
  <i  class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
   <%= song.name %></li>
<% end %>
</ul>


</div>
