
<div class=container-fluid>
<%= image_tag @artist.photo.image, class: "artist-img" %>

<div class="whitebox">
<h1 class="align-left"><%= @artist.name %></h1>

<p class="align-left"><%= @artist.bio %></p>

  <%= link_to artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } do %>
  <h3 class="btn btn-primary top-right-btn"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete Artist</h3>
  <% end %>

  <div id="delete-songs" onclick="deleteAllSongs(<%= @song_ids %>)" class="btn btn-primary top-btn">Delete All Songs</div>

  <form onSubmit="submitSong(); return false">
    <input type="text" id="new-song" placeholder="Add a Song" required="true">
  </form>

  <p id="error-msg"></p>
</div>
</div>

<div class="songs whitebox">
<ul id="songlist">
<% @songs.each do |song| %>
<li id="<%= song.id %>">
  <div id="delete-<%= song.id %>" onclick="deleteSong(<%= song.id %>)" class="btn btn-primary">Delete</div>
   <%= song.name %></li>
<% end %>
</ul>


</div>
